
						<div class="container wide-container section-inner">
							<div class="section-header section-header-style-default">
								<h2 class="section-title">APA YANG SEDANG ANDA CARI?</h2>
								<div class="section-desc">
									<p>Rumah murah tapi bukan rumah murahan, Kami Akan Memberikan panduan untuk pembeli dalam membeli properti dengan Harga yang tepat, Lokasi Strategis, Kwalitas Makyiiis!!</p>
								</div><span class="section-header-sep"><span class="section-header-sep-inner"></span></span>
							</div>
							<div class="feature-box-entries">
								<div class="feature-box-entry-col">
									<div class="feature-box-entry" style="background-image: url({{ site.baseurl }}/public/images/A-1.png)">
										<div class="feature-box-entry-body">
											<h4 class="feature-box-title">Rumah SemiVilla</h4>
											<div class="feature-box-desc">
												<p>Konsep rumah semi-villa memberikan suasana nyaman dengan daerah sekitar.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="feature-box-entry-col">
									<div class="feature-box-entry" style="background-image: url({{ site.baseurl }}/public/images/A-2.png)">
										<div class="feature-box-entry-body">
											<h4 class="feature-box-title">View Pegunungan</h4>
											<div class="feature-box-desc">
												<p>Dengan view pegunungan yang asri, udara yang bersih dan sejuk.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="feature-box-entry-col">
									<div class="feature-box-entry" style="background-image: url({{ site.baseurl }}/public/images/A-3.png)">
										<div class="feature-box-entry-body">
											<h4 class="feature-box-title">Tempat Wisata</h4>
											<div class="feature-box-desc">
												<p>Lokasi perumahan dekat dengan tempat wisata Ciwidey dan yang lainnya.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
