

	<script type='text/javascript' src='{{ site.baseurl }}/public/bootstrap/js/bootstrap.min.js'></script>
	<script type='text/javascript' src='{{ site.baseurl }}/public/bootstrap/js/owl.carousel.min.js'></script>
	<script type='text/javascript' src='{{ site.baseurl }}/public/bootstrap/js/customizer.js'></script>
        <script src="{{ site.baseurl }}/public/bootstrap/js/wa.js"></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var RealestateAgentRealtorLocalize = {
			"isfront": "1",
			"homeurl": "index.html"
		};
		/* ]]> */
	</script>
	<script type='text/javascript' src='{{ site.baseurl }}/public/bootstrap/js/script.min.js'></script>
