
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>
    {% if page.title == "Home" %}
      {{ site.title }} - {{ site.tagline }}
    {% else %}
      {{ page.title }} - {{ site.title }}
    {% endif %}
    </title>
	<link rel='stylesheet' id='bootstrap-css' href='/public/bootstrap/css/bootstrap.min.css' type='text/css' media='all' />
    <link rel="stylesheet" id="google-fonts-css" href="https://fonts.googleapis.com/css?family=Nunito%3A400%2C400i%2C600%2C700%7CMontserrat%3A300%2C400%2C600%2C400i&amp;subset=latin%2Clatin-ext&amp;ver=5.1.1" type="text/css" media="all"/>
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700"/>
	<link rel="stylesheet" id="fontawesome-css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.css" type="text/css" media="all">
	<link rel='stylesheet' id='carousel-css' href='/public/bootstrap/css/owl.carousel.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='realestateagentrealtor-style-css' href='/public/bootstrap/css/style.css' type='text/css' media='all' />
	<script type='text/javascript' src='/public/bootstrap/js/jquery.js'></script>
	<script type='text/javascript' src='/public/bootstrap/js/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
