<div class="section-deco" style="background-image:url(/public/images/hero.jpg);"></div>
						<div class="container wide-container section-inner">
							<div class="section-body">
								<div class="section-header">
									<h2 class="section-title">PERUM VILLA CIWIDEY ASRI - KAB. BANDUNG</h2>
									<div class="section-desc">
										<p>Program Sejuta Rumah Layak Huni Untuk Rakyat</p>
										<h4>Call : <a href="tel:80012345678">800 1234 5678</a></h4>
									</div>
								</div>
								<div class="section-form">
									<div role="form" class="wpcf7" id="wpcf7-f60-p23-o1">
										<iframe src="https://plus62store.my.id/form-wa.html"></iframe>
									</div>
								</div>
							</div>
						</div>
