<div class="section-deco" style="background-image:url(/public/images/hero.jpg);"></div>
						<div class="container wide-container section-inner">
							<div class="section-body">
								<div class="section-header">
									<h2 class="section-title">PERUM VILLA CIWIDEY ASRI - KAB. BANDUNG</h2>
									<div class="section-desc">
										<p>Program Sejuta Rumah Layak Huni Untuk Rakyat</p>
										<h4>Call : <a href="tel:80012345678">800 1234 5678</a></h4>
									</div>
								</div>
								<div class="section-form">
									<div role="form" class="wpcf7" id="wpcf7-f60-p23-o1">
										<form class="wpcf7-form validate-form" id='whatsapp' action="?">
											<h5>Konsultasi</h5>
				                            <input class="tujuan" type="hidden" id="noAdmin">
											<p><label><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="nama wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Nama Anda*" /></span></label></p>
											<p><label><span class="wpcf7-form-control-wrap your-email"><input type="number" name="No. Whatsapp" value="" size="40" class="nowhatsapp wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="No. WhatsApp*" /></span></label></p>
											<p><label><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="isi_pesan wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Pesan Anda*"></textarea></span> </label></p>
											<p><button value="Konsultasi Gratis" class="submit wpcf7-form-control wpcf7-submit"></button></p>
										</form>
									</div>
								</div>
							</div>
						</div>
