<header id="masthead" class="site-header">
			<div class="container wide-container main-header-container">
				<div class="site-branding">
					<a href="index.html" class="custom-logo-link" rel="home" itemprop="url"></a>
					<p class="site-title screen-reader-text"><a href="{{ site.url }}{{ site.baseurl }}" rel="home">{{ site.title }}</a></p>
				</div>
				<nav id="site-navigation" class="main-navigation" data-el="aria">
					<ul id="mastmenu" class="nav primary-menu">
						<li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11"><a href="#konsultasi">Home</a></li>
						<li id="menu-item-12" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12"><a href="#services">Services</a></li>
						<li id="menu-item-14" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14"><a href="#properties">Properties</a></li>
						<li id="menu-item-53" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-53"><a href="#blog">Blog</a></li>
						<li id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16"><a href="#contact">Location</a></li>
					</ul>
				</nav>
				<nav id="site-nav-tools" class="site-nav-tools">
					<button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false" data-el="aria">
                    <span class="screen-reader-text">Primary Menu</span>
                    <span class="menu-icon"></span>
                </button>
				</nav>
			</div>
		</header>
