
						<div class="container wide-container section-inner">
							<div class="row">
								<div class="col-md-12">
									<div class="section-header section-header-style-default">
										<h2 class="section-title">About the Agent</h2>
										<div class="section-subtitle">Getting The Most Value For Your Property</div>
									</div>
								</div>
								<div class="col-lg-5">
									<div class="section-subtitle"><img src="/public/images/services.jpg" alt="" /></div>
								</div>
								<div class="col-lg-7">
									<div class="section-desc">
										<p>Provide guidance and assist sellers and buyers in marketing and purchasing property for the right price under the best terms. Determine clients' needs and financials abilities to propose solutions that suit them</p>
									</div>
									<div class="service-box-entries row">
										<div class="service-box-entry-col col-md-6">
											<div class="service-box-entry">
												<div class="image"><img src="/public/images/icon-sv1.png" alt="" /></div>
												<div class="service-box-entry-body">
													<h4 class="service-box-title">Sellers </h4>
													<div class="service-box-desc">
														<p>Сareful analysis,<br /> knowledge, and expertise.</p>
													</div>
												</div>
											</div>
										</div>
										<div class="service-box-entry-col col-md-6">
											<div class="service-box-entry">
												<div class="image"><img src="/public/images/icon-sv2.png" alt="" /></div>
												<div class="service-box-entry-body">
													<h4 class="service-box-title">Buyers</h4>
													<div class="service-box-desc">
														<p>Identifying property,investing in commercial real estate</p>
													</div>
												</div>
											</div>
										</div>
										<div class="service-box-entry-col col-md-6">
											<div class="service-box-entry">
												<div class="image"><img src="/public/images/icon-sv3.png" alt="" /></div>
												<div class="service-box-entry-body">
													<h4 class="service-box-title">Commercial</h4>
													<div class="service-box-desc">
														<p>Create operating and launch budgets to provide financials</p>
													</div>
												</div>
											</div>
										</div>
										<div class="service-box-entry-col col-md-6">
											<div class="service-box-entry">
												<div class="image"><img src="/public/images/icon-sv4.png" alt="" /></div>
												<div class="service-box-entry-body">
													<h4 class="service-box-title">Development</h4>
													<div class="service-box-desc">
														<p>Review unit plans, building<br /> systems and components</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
