
						<div class="container wide-container section-inner">
							<div class="row">
								<div class="col-md-12">
									<div class="section-header section-header-style-default">
										<h2 class="section-title">TENTANG AGEN</h2>
										<div class="section-subtitle">Mendapatkan Nilai Paling Penting Untuk Properti Anda</div>
									</div>
								</div>
								<div class="col-lg-5">
									<div class="section-subtitle"><img src="/public/images/services.jpg" alt="" /></div>
								</div>
								<div class="col-lg-7">
									<div class="section-desc">
										<p>Memberikan panduan dan membantu penjual dan pembeli dalam memasarkan dan membeli properti dengan harga yang tepat di bawah persyaratan terbaik. Tentukan kebutuhan dan kemampuan keuangan klien untuk mengusulkan solusi yang sesuai dengan mereka</p>
									</div>
									<div class="service-box-entries row">
										<div class="service-box-entry-col col-md-6">
											<div class="service-box-entry">
												<div class="image"><img src="/public/images/icon-sv1.png" alt="" /></div>
												<div class="service-box-entry-body">
													<h4 class="service-box-title">Sellers </h4>
													<div class="service-box-desc">
														<p>Analisis hati-hati,<br /> pengetahuan, dan keahlian.</p>
													</div>
												</div>
											</div>
										</div>
										<div class="service-box-entry-col col-md-6">
											<div class="service-box-entry">
												<div class="image"><img src="/public/images/icon-sv2.png" alt="" /></div>
												<div class="service-box-entry-body">
													<h4 class="service-box-title">Buyers</h4>
													<div class="service-box-desc">
														<p>Mengidentifikasi properti, berinvestasi dalam real estat komersial</p>
													</div>
												</div>
											</div>
										</div>
										<div class="service-box-entry-col col-md-6">
											<div class="service-box-entry">
												<div class="image"><img src="/public/images/icon-sv3.png" alt="" /></div>
												<div class="service-box-entry-body">
													<h4 class="service-box-title">Commercial</h4>
													<div class="service-box-desc">
														<p>Buat anggaran operasi dan luncurkan untuk menyediakan keuangan</p>
													</div>
												</div>
											</div>
										</div>
										<div class="service-box-entry-col col-md-6">
											<div class="service-box-entry">
												<div class="image"><img src="/public/images/icon-sv4.png" alt="" /></div>
												<div class="service-box-entry-body">
													<h4 class="service-box-title">Development</h4>
													<div class="service-box-desc">
														<p>Tinjau Pengembangan<br /> rencana unit, gedung, sistem dan komponen</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
